<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
    </startup>  
	<appSettings>

		<!-- Taxas indexadas -->
        <add key="CDI" value="0.009" />
        <add key="TB" value="1.08" />

        <!-- Taxas por periodo -->
        <add key="SEMESTRAL"	value="0.225" />
        <add key="ANUAL"		value="0.20" />
        <add key="BIENAL"		value="0.175" />
        <add key="ACIMABIENAL"	value="0.15" />


  </appSettings>  
</configuration>  